<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<security:http security="none" pattern="/" />
	<security:http security="none" pattern="/login.htm*" />
	<security:http security="none" pattern="/favicon.ico" />
	<security:http security="none" pattern="/images/**" />
	<security:http security="none" pattern="/styles/**" />

	<security:http>
		<security:form-login login-page="/login.htm"/>
		<security:intercept-url pattern="/album/**" access="ROLE_API" />
		<security:intercept-url pattern="/showalbums**" access="ROLE_USER" />
		<security:intercept-url pattern="/createalbum**" access="ROLE_USER" />
		<security:logout />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="user" password="user"
					authorities="ROLE_USER" />
				<security:user name="api" password="api" authorities="ROLE_API" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>


</beans>
